<nav class="dock absolute bg-neutral text-neutral-content">
    <a href="{% url 'map-view' %}">
        <i class="fa-solid fa-location-dot"></i>
        <span class="dock-label">Map</span>
    </a>

    <a href="{% url 'home' %}">
        <i class="fa-solid fa-message"></i>
        <span class="dock-label">Chat</span>
    </a>

    <button>
        <i class="fa-solid fa-camera"></i>
        <span class="dock-label">Camera</span>
    </button>
    <button>
        <i class="fa-solid fa-user-group"></i>
        <span class="dock-label">Stories</span>
    </button>
</nav>
