{% extends 'base.html' %}
{% block main %}
<div class="h-full bg-black flex flex-col justify-between">
    <div class="relative z-10 flex justify-between items-center p-5 text-white text-2xl">
        <button onclick="goBack()">
            <i class="fa-solid fa-angle-left"></i>
        </button>

        <div class="flex gap-5">
            <i class="fa-solid fa-bolt"></i>
            <i class="fa-solid fa-gear"></i>
        </div>
    </div>

    <div id="camera-container" class="absolute inset-0">
        <video id="video" autoplay playsinline class="w-full h-full object-cover">
        </video>
    </div>

    <canvas id="canvas" class="hidden"></canvas>

    <div class="relative z-10 flex justify-center items-center pb-10">
        <button id="capture" class="size-20 rounded-full bg-white">
        </button>
        <!-- <form>

            <button class="btn btn-warning btn-lg rounded-full">Send Snap</button>
        </form> -->
    </div>
</div>
{% endblock %}
