{% extends 'base.html' %}
{% block main %}
<div class="dock shadow-xs px-4 absolute top-0 flex justify-between dock-lg">
    <div class="flex flex-row gap-3 justify-start items-center">
        <div class="size-[32px] flex justify-center items-center rounded-full bg-gray-100 p-2">
            <i class="fa-solid fa-user text-yellow-300"></i>
        </div>
        <a href="{% url 'search-users' %}"
            class="size-[32px] flex justify-center items-center rounded-full bg-gray-100 p-2">
            <i class="fa-solid fa-magnifying-glass"></i>
        </a>
    </div>
    <h1 class="text-xl font-semibold">Chat</h1>
    <div class="flex flex-row gap-3 justify-end items-center">
        <div class="size-[32px] flex justify-center items-center rounded-full bg-gray-100 p-2">
            <i class="fa-regular fa-bell"></i>
        </div>
        <div class="size-[32px] bg-yellow-300 flex justify-center items-center rounded-full p-2">
            <i class="fa-solid fa-user-plus"></i>
        </div>
        <div class="size-[32px] flex justify-center items-center rounded-full bg-gray-100 p-2">
            <i class="fa-solid fa-ellipsis fa-lg"></i>
        </div>
    </div>
</div>
<main class="mt-24 px-4">
    <div class="space-y-6">
        {% for friend in friends %}
        <a href="{% url 'chat-details' friend.id  %}" class="flex items-center justify-between">
            <div class="flex flex-row gap-4">
                <div class="avatar">
                    <div class="ring-purple-600 w-10 h-10 rounded-full ring-2 ring-offset-2">
                        <img src="https://img.daisyui.com/images/profile/demo/yellingwoman@192.webp"
                            class="object-cover" />
                    </div>
                </div>
                <div>
                    <h2>{{ friend.username }}</h2>
                    <p class="flex flex-row items-center gap-1">
                        <i class="fa-regular fa-message fa-xs text-blue-500"></i>
                        <span class="text-xs text-gray-400">Recieved</span>
                        <span class="size-1 rounded-full bg-gray-300">
                        </span>
                        <span class="text-xs text-gray-400">1m</span>
                    </p>
                </div>
            </div>
            <div>
                <i class="fa-solid fa-camera fa-lg text-gray-500"></i>
            </div>
        </a>
        {% endfor %}
    </div>
</main>
{% include 'components/bottom-navbar.html' %}
{% endblock %}
