{% extends 'base.html' %}
{% block main %}
<div class="dock absolute gap-2 px-4 justify-start top-0 shadow-xs dock-lg">
    <div class="max-w-[20px]">
        <a href="{% url 'home' %}" class="cursor-pointer">
            <i class="fa-solid fa-chevron-left"></i>
        </a>
    </div>
    <div class="max-w-full w-full flex flex-row justify-start items-center gap-3">
        <div class="avatar">
            <div class="w-10 h-10 rounded-full">
                <img src="https://img.daisyui.com/images/profile/demo/yellingwoman@192.webp" class="object-cover" />
            </div>
        </div>
        <p> {{ friend.username }} </p>
    </div>
    <div class="max-w-16 flex flex-row justify-between gap-4 items-center">
        <i class="fa-solid fa-lg fa-phone"></i>
        <i class="fa-solid fa-lg fa-video"></i>
    </div>
</div>

<main class="left-0 right-0 top-[80px] bottom-[80px] absolute overflow-y-auto">
    <div class="min-h-full flex flex-col justify-end px-4">
        {% for message in chat_messages %}
        {% if message.sender == request.user %}
        <div class="chat chat-end">
            <div class="chat-header">
                {{ message.sender }}
                {% load humanize %}
                <time class="text-xs opacity-50">{{ message.created_at | timesince }}</time>
            </div>
            <div class="chat-bubble">{{ message.text }}</div>
            <div class="chat-footer opacity-50">Seen</div>
        </div>
        {% else %}
        <div class="chat chat-start">
            <div class="chat-header">
                {{ message.sender }}
                {% load humanize %}
                <time class="text-xs opacity-50">{{ message.created_at | timesince }}</time>
            </div>
            <div class="chat-bubble">{{ message.text }}</div>
            <div class="chat-footer opacity-50">Seen</div>
        </div>
        {% endif %}
        {% endfor %}
    </div>
</main>

<div class="dock absolute gap-2 px-4 justify-start bottom-0 shadow-xs dock-lg">
    <button class="max-w-10 rounded-full btn btn-square text-white bg-black">
        <i class="fa-solid fa-camera"></i>
    </button>

    <form action="{% url 'send-message' friend.id %}" method="post" class="max-w-full flex flex-row gap-4">
        {% csrf_token %}
        <input name="message" type="text" class="rounded-full input input-border" placeholder="Send chat">
        <button type="submit" class="rounded-full btn btn-square text-white bg-blue-500">
            <i class="fa-solid fa-arrow-up"></i>
        </button>
    </form>

</div>
{% endblock %}
